<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>个人信息 - NoahCode's Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/editormd.min.css">
</head>
<body>
<div th:replace="admin/_fragments :: header" class="ui top attached menu">
    <a class="ui sidebar-icon item">
        <i class="ui bars icon"></i>
    </a>
    <div class="ui right menu">
        <a href="#" class="ui item">
            <i class="ui linkify icon"></i>
        </a>
        <div class="ui top right message-icon pointing dropdown item">
            <i class="ui bell outline icon"></i>
            <div class="ui menu" style="width: 300px;">
                <div class="ui header">
                    <h3 class="ui dividing header">待审核评论</h3>
                </div>
                <div class="ui item">
                    <div class="ui feed">
                        <div class="ui event">
                            <div class="label">
                                <img src="../../static/images/icon.png">
                            </div>
                            <div class="ui content">
                                <div class="ui summary"><a>NoahCode</a>:</div>
                                <div class="ui extra text" style="word-wrap: break-word;white-space:normal;">
                                    欢迎使用 Halo，这是你的第一条评论，头像来自 Gravatar，你也可以通过注册 Gravatar 来显示自己的头像。
                                </div>
                                <div class="ui extra date">3 天前</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui top right user pointing dropdown item">
            <div class="ui circular mini image">
                <img src="../../static/images/icon.png" alt="">
            </div>
            <div class="ui menu">
                <div class="ui item">
                    <i class="ui user outline icon"></i>个人信息
                </div>
                <div class="ui item">
                    <i class="ui sign-out icon"></i>退出登录
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="admin/_fragments :: sidebar" class="ui tiny inverted left vertical sidebar menu">
    <div class="ui item">
        <img class="ui centered mini image" src="../../static/images/icon.png" alt="">
        <h4 class="ui inverted centered header">NoahCode</h4>
    </div>
    <a class="ui item">仪表盘</a>
    <a class="ui article item">
        <i class="ui chevron down icon"></i>
        文章
    </a>
    <div class="ui article inverted vertical menu" style="display: none;">
        <a class="ui item">所有文章</a>
        <a class="ui item">写文章</a>
        <a class="ui item">分类目录</a>
        <a class="ui item">标签</a>
    </div>
    <a class="ui item">评论</a>
    <a class="ui user item">
        <i class="ui chevron down icon"></i>
        用户
    </a>
    <div class="ui user inverted vertical menu" style="display: none;">
        <a class="ui item">个人资料</a>
    </div>
    <a class="ui system item">
        <i class="ui chevron down icon"></i>
        系统
    </a>
    <div class="ui system inverted vertical menu" style="display: none;">
        <a class="ui item">博客设置</a>
        <a class="ui item">关于</a>
    </div>
</div>

<!--面包屑导航条-->
<div class="ui bottom attached segment">
    <div class="ui breadcrumb">
        <a class="ui section">首页</a>
        <div class="ui divider"> /</div>
        <div class="ui section">用户</div>
        <div class="ui divider"> /</div>
        <div class="ui active section">个人资料</div>
    </div>
</div>

<div class="ui bottom attached pushable">
    <div class="ui relaxed grid" style="padding: 40px;">
        <div class="ui two column row">
            <div class="ui column segment">
                <h2 class="ui center aligned header">
                    <img src="../../static/images/icon.png" th:src="@{/images/icon.png}" alt="">
                    <div class="ui nickName header" th:text="${user.nickname}">
                        NoahCode
                    </div>
                </h2>
                <div class="ui large list">
                    <div class="ui item">
                        <i class="ui linkify icon"></i>
                        <div class="content">
                            <a class="ui content" href="#" th:href="@{url}" th:text="${url}">http://127.0.0.1:2955</a>
                        </div>
                    </div>
                    <div class="ui item">
                        <i class="ui envelope outline icon"></i>
                        <div class="ui email content" th:text="${user.email}">noahcode@aliyun.com</div>
                    </div>
                    <div class="ui item">
                        <i class="ui calendar outline icon"></i>
                        <div class="ui content" th:text="${countDown}">6 天</div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui big middle aligned divided list" style="">
                    <div class="ui item">
                        <div class="ui content">
                            累计发表了 2 篇文章。
                        </div>
                    </div>
                    <div class="ui item">
                        <div class="ui content">
                            累计创建了 1 个分类。
                        </div>
                    </div>
                    <div class="ui item">
                        <div class="ui content">
                            累计创建了 2 个标签。
                        </div>
                    </div>
                    <div class="ui item">
                        <div class="ui content">
                            累计获得了 1 条评论。
                        </div>
                    </div>
                    <div class="ui item">
                        <div class="ui content">
                            累计添加了 0 个友链。
                        </div>
                    </div>
                    <div class="ui item">
                        <div class="ui content">
                            文章总阅读 7 次。
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui column card">
                <div class="ui content">
                    <div class="header">个人信息</div>
                </div>
                <div class="ui content">
                    <div class="ui top attached tabular menu">
                        <a class="active item" data-tab="information">基本资料</a>
                        <a class="item" data-tab="password">密码</a>
                    </div>
                    <div class="ui bottom attached active tab segment" data-tab="information">
                        <form class="ui updatePersonalInformation form" method="post" action="#"
                              th:action="@{/admin/personal-information}">
                            <div class="ui required field">
                                <label>用户名：</label>
                                <input type="text" name="username" th:value="${user.username}">
                            </div>
                            <div class="ui required field">
                                <label>昵称：</label>
                                <input type="text" name="nickname" th:value="${user.nickname}">
                            </div>
                            <div class="ui required field">
                                <label>邮箱：</label>
                                <input type="text" name="email" th:value="${user.email}">
                            </div>
                            <div class="ui field">
                                <label>个人说明：</label>
                                <textarea name="description" rows="2"></textarea>
                            </div>
                            <div class="ui error message"></div>
                            <button class="ui blue button" type="submit">保存</button>
                        </form>
                    </div>
                    <div class="ui bottom attached tab segment" data-tab="password">
                        <form class="ui updatePassword form" method="post" action="#"
                              th:action="@{/admin/personal-information/password}">
                            <div class="ui required field">
                                <label>原密码：</label>
                                <div class="ui icon input">
                                    <input id="oldPassword" type="password" name="oldPassword" th:value="${password?.oldPassword}">
                                    <i class="ui oldPassword link eye slash icon"></i>
                                </div>
                            </div>
                            <div class="ui required field">
                                <label>新密码：</label>
                                <div class="ui icon input">
                                    <input id="newPassword" type="password" name="newPassword" th:value="${password?.newPassword}">
                                    <i class="ui newPassword link eye slash icon"></i>
                                </div>
                            </div>
                            <div class="ui required field">
                                <label>确认密码：</label>
                                <div class="ui icon input">
                                    <input id="confirmPassword" type="password" name="confirmPassword" th:value="${password?.newPassword}">
                                    <i class="ui confirmPassword link eye slash icon"></i>
                                </div>
                            </div>
                            <div class="ui error message"></div>
                            <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></div>
                            <button class="ui blue button" type="submit">确认更改</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-address@1.6.0/src/jquery.address.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.ui.father-type.dropdown')
        .dropdown()
    $('.ui.message-icon.dropdown.item')
        .dropdown()
    $('.ui.user.dropdown.item')
        .dropdown()
    $('.ui.sidebar-icon.item')
        .click(function () {
            $('.ui.sidebar').sidebar('toggle')
        })
    $('.ui.article.item')
        .click(function () {
            $('.ui.article.vertical.menu').toggle('fast', function () {
                $('.ui.chevron.icon:eq(0)').toggleClass('down')
                $('.ui.chevron.icon:eq(0)').toggleClass('up')
            })
        })
    $('.ui.user.item')
        .click(function () {
            $('.ui.user.vertical.menu').toggle('fast', function () {
                $('.ui.chevron.icon:eq(1)').toggleClass('down')
                $('.ui.chevron.icon:eq(1)').toggleClass('up')
            })
        })
    $('.ui.system.item')
        .click(function () {
            $('.ui.system.vertical.menu').toggle('fast', function () {
                $('.ui.chevron.icon:eq(2)').toggleClass('down')
                $('.ui.chevron.icon:eq(2)').toggleClass('up')
            })
        })
</script>
<!--/*/</th:block>/*/-->
<script>
    $('.ui.tabular.menu .item')
        .tab({
            history: true
        })
    $('.ui.oldPassword.eye.icon')
        .click(function () {
            $('.ui.oldPassword.eye.icon').toggleClass('slash')
            var input_type = $('#oldPassword').attr('type')
            if (input_type === 'password') {
                $('#oldPassword').attr('type', 'text')
            } else {
                $('#oldPassword').attr('type', 'password')
            }
        })
    $('.ui.newPassword.eye.icon')
        .click(function () {
            $('.ui.newPassword.eye.icon').toggleClass('slash')
            var input_type = $('#newPassword').attr('type')
            if (input_type === 'password') {
                $('#newPassword').attr('type', 'text')
            } else {
                $('#newPassword').attr('type', 'password')
            }
        })
    $('.ui.confirmPassword.eye.icon')
        .click(function () {
            $('.ui.confirmPassword.eye.icon').toggleClass('slash')
            var input_type = $('#confirmPassword').attr('type')
            if (input_type === 'password') {
                $('#confirmPassword').attr('type', 'text')
            } else {
                $('#confirmPassword').attr('type', 'password')
            }
        })
    $('input[name="nickname"]').bind("input propertychange", function (event) {
        $('.ui.nickName.header').text($('input[name="nickname"]').val())
    })
    $('input[name="email"]').bind("input propertychange", function (event) {
        $('.ui.email.content').text($('input[name="email"]').val())
    })
    $('.ui.updatePersonalInformation.form')
        .form({
            fields: {
                username: {
                    identifier: 'username',
                    rules: [{
                        type: 'empty',
                        prompt: '用户名不能为空'
                    }]
                },
                nickname: {
                    identifier: 'nickname',
                    rules: [{
                        type: 'empty',
                        prompt: '昵称不能为空'
                    }]
                },
                email: {
                    identifier: 'email',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '邮箱不能为空'
                        },
                        {
                            type: 'email',
                            prompt: '电子邮箱地址格式不正确'
                        }
                    ]
                }
            }
        })
    $('.ui.updatePassword.form')
        .form({
            fields: {
                oldPassword: {
                    identifier: 'oldPassword',
                    rules: [{
                        type: 'empty',
                        prompt: '原密码不能为空'
                    }]
                },
                newPassword: {
                    identifier: 'newPassword',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '新密码不能为空'
                        },
                        {
                            type: 'different[oldPassword]',
                            prompt: '新密码和旧密码不能相同'
                        }
                    ]
                },
                confirmPassword: {
                    identifier: 'confirmPassword',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '确认密码不能为空'
                        },
                        {
                            type: 'match[newPassword]',
                            prompt: '确认密码与新密码不一致'
                        }
                    ]
                }
            }
        })
</script>
</body>
</html>