<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui-css@2.8.7/semantic.min.css">-->
</head>
<body>
<div class="ui checked checkbox">
    <input type="checkbox" name="example">
    <label>Make my profile visible</label>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-address@1.6.0/src/jquery.address.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/fomantic-ui-css@2.8.7/semantic.min.js"></script>-->
<script>
    $(function (){
        $('.ui.checked.checkbox input').attr('checked','checked')
    })
</script>
</body>
</html>